#container {
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
}
#map {
    position: relative;
    margin-right: 200px;
    background: #f0f0f0;
    top: 150px;
    left: 150px;
}
#dashboard {
    position: relative;
    float: right;
    width: 400px;
}
.field {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 0;
}
.cursor {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 3;
}
.start {
    position: absolute;
    display: none;
    z-index: 1;
}
.finish {
    position: absolute;
    display: none;
    z-index: 1;
}
.space {
    background-image: url("/images/landscape/space.png");
}
.wall {
    background-image: url("/images/landscape/wall.png");
    z-index: 2;
}
.step {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
}
.background {
    position: absolute;
    z-index: 0;
    width: 1200px;
    height: 800px;
}

.button {
    position: absolute;
    z-index: 2;
}

.new_map {
    top: 300px;
}

.find_way {
    top: 150px;
}